.sidebar .nav li > a, .bootstrap-navbar .nav li > a {
  border-radius: 4px;
  display: block; 
  color: #fff; 
  opacity: 1; 
  padding: 10px 15px;
}
.nav > li{
 position: relative;
 display: block;
 width:100%
}
.sidebar .nav li.active > a{
  background: rgba(255,255,255,.23); 
}